@font-face {
    font-family: "Selima";
    font-style: italic;
    src: url('fonts/Selima.ttf');
}

/* COLORS */
.color_red{
    color: red !important;
}
.color_orange{
    color: #ffb802 !important;
}
.bg_color_yellow{
    background-color: #fff70033 !important;
}
/* END - COLORS */

/* MODIF CLASSES BOOTSTRAP */

.features-icons {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

a.brand, h1.brand{
    font-family: "Selima", Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar a.brand{
    font-size: 35px;
    padding: 1px;
}

h1.brand{
    font-size: 85px;
}

@media (min-width: 768px){
    .compte_rebours {
        text-align: right;
    }
}

.navbar li.active a{
    color: #ffb802 !important;
}

footer.footer{
    background-color: #343a40!important;
}

footer.footer > *, footer.footer a{
    color: #ffb802 !important;
}

i.fa-facebook{
    color: #386ad2;
}

/* FIN - MODIF CLASSES BOOTSTRAP */

/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

@supports (position: sticky) {
    body {
        padding-top: 0;
    }
    nav {
        position: sticky;
    }
}

.navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
}

.scrolled {
    transition: 0.5s ease;
}

.scrolled.navbar {
    height: 55px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.scrolled.navbar .item {
    line-height: 40px;
    transition: 0.5s ease;
}

.scrolled.navbar a.brand, .scrolled.navbar a.brand .color_red {
    font-size: 26px;
    color: #fff !important;
}

/* END - NAVBAR */

/* BACK TO TOP */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #ffb802 url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/* END - BACK TO TOP */