/*!* DEMO-SPECIFIC STYLES *!*/
/*.typewriter p.tw1 {*/
    /*color: #fff;*/
    /*font-family: monospace;*/
    /*overflow: hidden; !* Ensures the content is not revealed until the animation *!*/
    /*border-right: .15em solid orange; !* The typwriter cursor *!*/
    /*white-space: nowrap; !* Keeps the content on a single line *!*/
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    /*animation:*/
        /*typing 3.5s steps(30, end),*/
        /*blink-caret .5s step-end infinite;*/
/*}*/

/*.typewriter p.tw2 {*/
    /*color: #fff;*/
    /*font-family: monospace;*/
    /*overflow: hidden; !* Ensures the content is not revealed until the animation *!*/
    /*border-right: .15em solid orange; !* The typwriter cursor *!*/
    /*white-space: nowrap; !* Keeps the content on a single line *!*/
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    /*animation:*/
        /*typing 3s steps(30, end),*/
        /*blink-caret .5s step-end infinite;*/
/*}*/

/*!* The typing effect *!*/
/*@keyframes typing {*/
    /*from { width: 0 }*/
    /*to { width: 100% }*/
/*}*/

/*!* The typewriter cursor effect *!*/
/*@keyframes blink-caret {*/
    /*from, to { border-color: transparent }*/
    /*50% { border-color: orange }*/
/*}*/


.typewriter p{
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 3.5s steps(30, end);
}

.typewriter p:nth-child(2){
    animation: type2 7.5s steps(30, end);
}

.typewriter span.blink-caret{
    color: orange;
    animation: blink 1s infinite;
}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@keyframes blink{
    to{opacity: .0;}
}

::selection{
    background: black;
}